/AA_setup_JuBa/nbproject/private/
/AA_setup_JuBa/build/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
#*.zip
*.tar.gz
*.rar
/AA_setup_JuBa/dist/
